.post {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: fit-content;
  gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.post img {
  border-radius: 100%;
  height: 30px;
  margin-top: 15px;
}

.post-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}

.post-header h2 {
  margin: auto 0;
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.post-container img {
  width: 80%;
}

.post-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: fit-content;
}

.post-footer p {
  margin: auto 0;
}
