:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --rh-redirect-hover-bg: #ece4f8;
  --rh-redirect-hover-color: #4a148c;
}

body {
  margin: 0;
}
