:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --rh-text: #1f1f24;
  --rh-bg: #faf9fc;
  --rh-redirect-hover-bg: #ece4f8;
  --rh-redirect-hover-color: #4a148c;
}

html {
  overflow-x: clip;
}

body {
  margin: 0;
  color: var(--rh-text);
  background-color: var(--rh-bg);
  overflow-x: clip;
}
